.divInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.analisesTableDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.analisesTable{
    margin-top: 25px;
    width: 50%;
    text-align: center;
    border: 1px solid black;
    background-color: #ffffff;
}

.analisesTable th,.analisesTable td{
    border: 1px solid black;
}

.thButton{
    border: 1px solid #f2994a !important;
    border-bottom: 1px solid black !important;
    background-color: #f2994a;
    text-align: right;
}

.btnAddAn{
    margin: 2px 0px 15px 0px;
    background-color: #6c757d;
    color: #ffffff;
}