.fttopnavbar {
	background-color: #4b2402;
	border-radius: 0px;
	margin-bottom: 0px;
}

.ftnavbar{
	background-color: #cccccc;
	border-radius: 0px;
}

.ftnavlink{
	cursor: pointer;
}

.tableFT {
	background-color: #dddddd;
	width: 40%;
    margin: 0 auto;
    margin-top: 10%;
}

.trButtonFT{
	background-color: #f2994a;
	border: 2px solid #f2994a;
}

.divButtonFT{
	display: flex;
	justify-content: flex-end;
	align-items: right;
}
.divButtonFT button {
	margin-left: 5px;
}

.btnmenu{
	margin: 0.5%;
	
}

.menudiv{
	margin-left: 2%;
}

.thFT{
	font-weight: bold;
}

.tdFT{
	font-weight: normal;
}
