.App {
  height: 100vh;
  display: flex;
  color: white;
  margin: 0%;
}

.App__Aside {
  width: 60%;
  background-color: #66da8d;
}

.App__Form {
  width: 40%;
  background-color: #0c6854;
  padding: 25px 40px;
  overflow: auto;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #0c3d39;
  color: #9da6b1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #6cd6bf;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: #5fe7ca;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #5fe7ca;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #5fe7ca;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #8391a3;
}

.FormField__Button {
  background-color: #52c4b9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 10px;
}

.FormField__Link {
  color: #aeb8c4;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225e62;
  padding-bottom: 5px;
}

.icr{
  height: 15%;
}

.estt{
  height: 15%;
}
