.deckObj {
	margin-top: 20px;
	margin-left: 0px;
}

.colObj {
    padding: 0px;
    margin: 20px 0px 20px 0px;
}

.cardObj {
	text-align: center;
	background-color: #ffffff;
	height: 310px;
	width: 250px;
	min-width: 200px;
	border-color: #4b2402;
}

.imgObj {
	height: 200px;
	width: 250px;
    object-fit: cover;
}

.bodyObj {
    padding: 0px;
    margin: 0px;
	background: #4b2402;
}

.titleObj {
	padding: 15px 10px 0px 10px;
    font-size: 16px;
	color: #ffffff;
}
