.Profile-grid {
    text-align: center;
}

.avatarImg {
	height: 180px !important;
	padding-top: 1em !important;
}

.textdiv {
	background-color: #4b2402;
	opacity: 0.8;
	width: 75%;
	margin: auto;
	border-radius: 30px;
	padding-bottom: 2.25%;
	padding-top: 0.1%;
	margin-top: 1%;
}

	.textdiv h1 {
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

	.textdiv p {
		color: white;
		font-size: 20px;
		padding: 1em;
	}
.profileTable {
	border-radius: 30px;
	background-color: #dce6ec;
	font-family: arial, sans-serif;
	width: 50%;
	margin-top: 3%;
}

.profileTable td {
	text-align: center;
	padding: 8px;
}

.profileTable th {
	text-align: center;
	padding: 1px;
}

.btnFormProfileEdit{
	background-color: #4b2402;
	color: white;
}