/*
table {
	border-collapse: collapse;
	border-radius: 1em;
	overflow: hidden;
	margin-top:-25px;
  }
  th, td {
	padding: 1em;
	background: #ddd;
	border-bottom: 2px solid white; 
	}  
	*/             
  .cab{
	text-align:center; 
	padding:10px;
	font-family:"Arial Black"; 
	font-size:16px;
	background-color:rgb(170, 168, 168);
	color:#4b2402;
  }
  .Um{
	text-align:left;
	font-family:"Arial"; 
	font-size:16px;
	background-color:#FFFFFF;}

  .div1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 110px;
	width: 60%;
  }
  .div2{
	margin-top:75px;
  }
  .div3{
	width: 100%;
	text-align: center;
  } 
  .div4{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:55%;
	background-color: #FFFFFF;
	border-radius: 1em;
	overflow: hidden;
  }
  .info{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-size: 18px;
	color:orange;
  }
  h2{
	  font-family: Verdana, Geneva, Tahoma, sans-serif;
	  text-align: center;
	  font-size: 15px;
	  color:lightgreen;
	  margin-top:-20px;
  }
  h1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-size: 22px;
	color:#4b2402;
	}
	/*
  td{
	text-align:center; 
	padding: 10px;
	font-family:"Arial Black"; 
	font-size:16px;
	}
	*/
  .tecnico{
	margin-left: 405px;
	margin-top: -110px;
  }
  .numero, .data, .grau{
	margin-left: 380px;
	text-align: left;
  }
  .data{
	margin-top:-15px;
  }
  .grau{
	margin-top:60px;
  }
  h3{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	color:#4b2402;
  }
  .eficacia{
	font-size:14px;
	margin-top:-30px;
	color:black;
  }
  .button {
	background-color: rgb(77, 148, 79);
	color:#FFFFFF;
	padding: 6px 10px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	margin-left:650px;
	border-radius: 8px;
	margin-top:-15px;
  }
  .button:hover {
	background-color: #3e8e41;
  }
  .button:active {

	transform: translateY(4px);
  }
  .principal{
	background-color: #f2994a;
	height:100%;
  }
  .caract{
	align-items: flex-start;
	display: flex;
	margin-left: 528px;
  }
  .ident{
	text-align: left;
	margin-left:350px;
	margin-top:-25px;
  }
  textarea{
	resize: none;
	overflow: hidden;
  }
  input{
	align-items: flex-start;
  }
  .grau2{
	width:40%;
	height:25px;
  }
  .ident2{
	width:40%;
  }
  hr{
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
	margin-top: -18px;
  } 