.header-color {
	background: #4b2402; /* fallback for old browsers */
}

.Home-grid {
	background: #f2994a; /* fallback for old browsers */
	background: -webkit-linear-gradient( to right, #f2c94c, #f2994a ); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f2c94c, #f2994a);
	text-align: center;
	position: fixed;
	height: 100%;
	width: 100%;
}

	.Home-grid h1 {
		font-size: 80px;
		font-weight: bold;
		color: #4b2402;
		text-align: center;
	}

	.Home-grid p {
		font-size: 50px;
		font-weight: bold;
		color: #4b2402;
		text-align: center;
	}

.Profile-grid {
    background: #f2994a; /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #f2c94c, #f2994a ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2c94c, #f2994a);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.avatarImg {
	height: 250px;
	padding-top: 5em;
}
.logoImg {
    height: 550px;
    width: 1250spx;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
	background-color: #4b2402;
	opacity: 0.8;
	width: 75%;
	margin: auto;
	border-radius: 10px;
}

	.text h1 {
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

	.text p {
		color: white;
		font-size: 20px;
		padding: 1em;
	}

.header {
	font-family: arial, sans-serif;
	margin-left: 25%;
	margin-top: 5%;
	background-color: dimgrey;
	width: 50%;
	height: 25%;
}

.p {
	margin-top: 1%;
}

table {
	font-family: arial, sans-serif;
	border: 1px;
	border-color: black;
	width: 50%;
	margin-top: 3%;
}

tr {
	background-color: #dddddd;
}

td {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 1px;
}
table {
	border-collapse: collapse;
	border-radius: 1em;
	overflow: hidden;
	margin-top:-25px;
  }
  th, td {
	padding: 1em;
	background: #ddd;
	border-bottom: 2px solid white; 
  }               
  .cab{
	text-align:center; 
	padding:10px;
	font-family:"Arial Black"; 
	font-size:16px;
	background-color:rgb(170, 168, 168);
	color:#4b2402;
  }
  .Um{
	text-align:left;
	font-family:"Arial"; 
	font-size:16px;
	background-color:#FFFFFF;}
  
  .div1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 110px;
	width: 60%;
  }
  .div2{
	margin-top:0px;
  }
  .div3{
	width: 100%;
	text-align: center;
  } 
  .div4{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:55%;
	background-color: #FFFFFF;
	border-radius: 1em;
	overflow: hidden;
  }
  .info{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-size: 18px;
	color:orange;
  }
  h2{
	  font-family: Verdana, Geneva, Tahoma, sans-serif;
	  text-align: center;
	  font-size: 15px;
	  color:lightgreen;
	  margin-top:-20px;
  }
  h1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-size: 22px;
	color:#4b2402;
  }
  td{
	text-align:center; 
	padding: 10px;
	font-family:"Arial Black"; 
	font-size:16px;
  }
  .tecnico{
	margin-left: 405px;
	margin-top: -110px;
  }
  .numero, .data, .grau{
	margin-left: 380px;
	text-align: left;
  }
  .data{
	margin-top:-15px;
  }
  .grau{
	margin-top:60px;
  }
  h3{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	color:#4b2402;
  }
  .eficacia{
	font-size:14px;
	margin-top:-30px;
	color:black;
  }
  .button {
	background-color: rgb(77, 148, 79);
	color:#FFFFFF;
	padding: 6px 10px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	margin-left:650px;
	border-radius: 8px;
	margin-top:-15px;
  }
  .button:hover {
	background-color: #3e8e41;
  }
  .button:active {
	
	transform: translateY(4px);
  }
  .principal{
	background-color: orange;
	height:100%;
  }
  .caract{
	align-items: flex-start;
	display: flex;
	margin-left: 350px;
  }
  .ident{
	text-align: left;
	margin-left:350px;
	margin-top:-25px;
  }
  textarea{
	resize: none;
	overflow: hidden;
  }
  input{
	align-items: flex-start;
  }
  .grau2{
	width:40%;
	height:25px;
  }
  .ident2{
	width:40%;
  }
  hr{
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
	margin-top: -18px;
  }