.Campos td {
  border: 1px solid #0c0b0b;
  background-color: #dddddd;
  text-align: center;
  width: 5%;
  padding: 8px;
}

.Campos th {
  border: 1px solid #0c0b0b;
  text-align: center;
  padding: 1px;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 15px;
}
h3,
h4 {
  background-color: #dddddd;
}
.left {
  height: 100%;
  width: 45%;
  margin-left: 5%;
}
.right {
  right: 0;
  width: 45%;
  height: 100%;
  float: right;
  margin-right: 4%;
  margin-top: 1.2cm;
}

textarea {
  resize: none;
  overflow: hidden;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}
td,
th,
label {
  text-align: left;
  padding: 8px;
  text-align: left;
}

input {
  width: 100%;
  border: 1px solid black;
  border-radius: 1px;
}



.centro h1{
  font-family:Helvetica;
  margin-left: 20px;
  }
  
  .centro h2{
    font-family:Helvetica;
    background-color: #dddddd;
    margin-right: 30px;
    margin-left: 20px;
  }
  
  .centro label{
    font-family:Helvetica;
    margin-left: 20px;
  }
  
  .centro input{
    font-family:Helvetica;
    margin-left: 50px;
  }
  
  .tbl td{
  
    font-family:Helvetica;
    background-color: #dddddd;
    padding: 25px;
    width : 120px;
    height: 30px;
  }
  
  .tbl button {
  width:100px;
  height: 25px;
  }
  
  .tbl1 td {
    font-family:Helvetica;
    background-color: #dddddd;
    width : 1200px;
    height: 30px;
  }
  .div1 {
    width:60%;
    margin-left:180px;
   }
   
   .div2{
     width:80%;
     margin-top:30px;
   }
   h1{
     text-align: left;
   }
   h3{
     background-color: #dddddd;
     text-align: left;
     width:93%;
   }
   
   .nome{
     vertical-align: text-top;
   }
   
   textarea{
     resize: none;
     overflow: hidden;
     background: #ddd8d8;
     outline:none;
     border: 1px solid #ddd8d8;
   }
   
   table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width:70%;
   }
   
   td, th {
     text-align: left;
     padding: 8px;
     text-align: left; 
   }
   
   
   .checkbox {
     width:24px;
     height:24px;
     position:relative;
     top:6px;
   }
   
   .preservacao{
     text-align:left;
     margin-left:10px;
   }
   
   .conservacao{
     text-align:center;
     margin-top:-31px;
   }
   
   .restauro{
     text-align: right;
     margin-top: -31px;
     margin-right:55px;
   }
   
   td{
     border-collapse: collapse;
     border: 4px solid white;
     background: #ddd8d8;
     }
   
   .cab2{
     text-align: center;
     border: 1px solid rgb(212, 210, 210);
     background-color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
   }
   
   .cab{
     text-align:center; 
     padding:10px;
     padding: 1em;
     border-collapse: collapse;
     
   }
   p{
     text-align: left;
     margin-left: 185px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   input{
     outline:none;
     border: 1px solid white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .p1{
     margin-left:680px;
     margin-top:-35px;
   }
   
   .textarea2{
     background-color: white;
     overflow: hidden;
     align-items: flex-start;
   }