.Campos td {
  border: 1px solid #0c0b0b;
  background-color: #dddddd;
  text-align: center;
  width: 5%;
  padding: 8px;
}

.Campos th {
  border: 1px solid #0c0b0b;
  text-align: center;
  padding: 1px;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 15px;
}
h3,
h4 {
  background-color: #dddddd;
}
.left {
  height: 100%;
  width: 45%;
  margin-left: 5%;
}
.right {
  right: 0;
  width: 45%;
  height: 100%;
  float: right;
  margin-right: 4%;
  margin-top: 1.2cm;
}

textarea {
  resize: none;
  overflow: hidden;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}
td,
th,
label {
  text-align: left;
  padding: 8px;
  text-align: left;
}

input {
  width: 100%;
  border: 1px solid black;
  border-radius: 1px;
}



.centro h1{
  font-family:Helvetica;
  margin-left: 20px;
  }
  
  .centro h2{
    font-family:Helvetica;
    background-color: #dddddd;
    margin-right: 30px;
    margin-left: 20px;
  }
  
  .centro label{
    font-family:Helvetica;
    margin-left: 20px;
  }
  
  .centro input{
    font-family:Helvetica;
    margin-left: 50px;
  }
  
  .tbl td{
  
    font-family:Helvetica;
    background-color: #dddddd;
    padding: 25px;
    width : 120px;
    height: 30px;
  }
  
  .tbl button {
  width:100px;
  height: 25px;
  }
  
  .tbl1 td {
    font-family:Helvetica;
    background-color: #dddddd;
    width : 1200px;
    height: 30px;
  }
  